/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
/* Tailwind CSS */
@import "tailwindcss";

/* Tailwind Custom Settings */
@theme {
    --font-red-hat-display: "Red Hat Display", serif;
    /* --font-body: var(--font-red-hat-display); */

    /* Color variable */
    --color-main: #2970CC;
    --color-main-shade: #E5E8FF;
    --color-danger: #FF5050;
    --color-dark-1: #001924;
    --color-dark-2: #54616B;
    --color-dark-6: #D8DFE5;
    --color-dark-7: #F5F7F8;
}

:root {
    font-family: var(--font-red-hat-display);

    /* color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

} */

/* Login page style -start */
.login-signup-bg {
    background: url(../src/assets/images/login-page-bg.jpg) no-repeat center
        center;
    background-size: cover;
}
/* Login page style -end */
