/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
/* Tailwind CSS */
@import "tailwindcss";

/* Tailwind Custom Settings */
@theme {
    --font-red-hat-display: "Red Hat Display", serif;
    /* --font-body: var(--font-red-hat-display); */

    /* Color variable */
    --color-main: #2970cc;
    --color-main-shade: #e5e8ff;
    --color-danger: #ff5050;
    --color-success: #30d287;
    --color-dark-1: #001924;
    --color-dark-2: #54616b;
    --color-dark-6: #d8dfe5;
    --color-dark-7: #f5f7f8;
    --color-dark-8: #f7f7f7;
    --color-dark-9: #e9edf0;
}

:root {
    font-family: var(--font-red-hat-display);
    font-weight: normal;

    /* color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

} */

/* Login page style -start */
.login-signup-bg {
    background: url(../src/assets/images/login-page-bg.jpg) no-repeat center
        center;
    background-size: cover;
}
/* Login page style -end */

/* Property search filter */
.property-search-filter-wrap {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

/* Property search filter */

/* Browser prefix css for Input type number arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
/* Browser prefix css for Input type number arrow */
